@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==========CSS RESET=============== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  transition: all 200ms ease;
}

body {
  scroll-behavior: smooth;
  background-image: url("~/assets/img/bg-pattern.svg");
  /* background-position: 80%; */
  background-repeat: no-repeat;
}

.logo {
  font-family: "Sacramento";
  letter-spacing: 1px;
}

.btn {
  @apply px-6 py-3 border-2 border-gray-700 font-medium hover:shadow-lg;
}

.btnLine {
  @apply border-gray-700 font-medium py-3 px-6 w-fit mt-4 hover:border-[1px];
}

.card {
  @apply shadow-md p-8 text-sm rounded-lg flex flex-col items-center space-y-4 md:items-start border bg-gray-100  hover:drop-shadow;
}

.card h3 {
  @apply font-medium text-lg;
}
